/* Global */
* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

:root {
    --primary: rgb(30, 30, 30);
    --secondary-bg: rgb(54, 54, 54);
    --main-bg: rgb(36, 36, 36);

    --primary-text: rgb(250, 250, 250);
    --highlight: rgb(255, 211, 219);

    --sidebar: rgb(70, 60, 70);
}

body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    grid-template-rows: auto 1fr;

    background-color: var(--primary);
    color: var(--primary-text);

    min-height: 100dvh;
}

a {
    text-decoration: none;
    color: var(--primary-text);
}

li:hover > a,  li:hover > svg, li:hover, a:hover {
    color: var(--highlight);
    fill: var(--highlight);
    cursor: pointer;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

button:hover {
    cursor: pointer;
    background-color: var(--main-bg);
    color: var(--primary-text);
}

svg {
    fill: var(--primary-text);
}

hr {
    border: 1px solid gray;
    opacity: .2;
}

/* Header */
header {
    grid-column: 2 / 4;

    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 20px;

    padding: 1rem 2rem;
    background-color: var(--secondary-bg);

    position: sticky;
    top: 0;
}

.top-header, .bottom-header {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.search svg {
    width: 2rem;
}

.search {
    display: flex;
    background-color: white;
    padding: .2rem;
    margin-right: .2rem;
    border-radius: 1.5rem;
}

.search input {
    border: none;
    outline: none;
    background-color: none;
    border-radius: 10px;
    margin-left: 10px;
}

.search svg {
    fill: rgb(184, 184, 184);
    width: 1.5rem;
}

.profile, .greeting{
    align-self: center;

    font-weight: bold;
}

.action-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.action-buttons > button {
    padding: 8px 25px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
}

/* Sidebar */
.sidebar {
    grid-row: 1 / 4;

    display: flex;
    flex-direction: column;

    height: 100dvh;
    background-color: var(--sidebar);

    position: sticky;
    top: 0;
    left: 0;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.logo h1 {
    margin: .7rem;
    margin-left: .3rem;
}

.logo svg {
    width: 3rem;
    margin-left: .3rem;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

.sidebar li {
    display: flex;
    align-content: center;

    padding: 1.1rem;
}

li > svg {
    width: 1rem;
}

li > a {
    margin-left: 1rem;
}

/* Main */
main {
    grid-column: 2 / 4;
    grid-row: 2 / 4;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

    padding: 1rem;
    background-color: var(--primary-bg);

    height: 100dvh;
}

main div h2 {
    margin-bottom: 10px;
}

/* Your Projects */
.projects {
    grid-row: 1 / 3;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.cards > div {
    background-color: var(--secondary-bg);
    padding: 2rem 1rem;

    border-radius: 7px;
    border-left: 5px solid var(--highlight);
}

/* Announcements / Trending */
aside {
    position: sticky;
    top: 135px;
}


.announcements {
    grid-column: 2 / 3;

    margin-bottom: 2rem;
}

.trending {
    grid-column: 2 / 3;
}

.list {
    background-color: var(--secondary-bg);
    padding: 1rem;
    border-radius: 7px;

    display: grid;
    gap: 10px;
}